.container {
    margin: 0;
    padding: 0;
}

.main {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
}

#mermaid-container {
    position: absolute;
    left: -100000px;
    visibility: hidden;
}